* {
  font-family: 'Asul';
}
table { 
  width: 750px; 
  border-collapse: collapse; 
  margin:20px auto;
}

/* Zebra striping */
tr:nth-of-type(odd) { 
background: #eee; 
}

th { 
background: #3498db; 
color: white;
}

td, th { 
padding: 10px; 
border: 1px solid #ccc; 
text-align: left; 
font-size: 14px;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

table { 
    width: 100%; 
}

/* Force table to not be like tables anymore */
table, thead, tbody, th, td, tr { 
  display: block; 
}

/* Hide table headers (but not display: none;, for accessibility) */
thead tr { 
  position: absolute;
  top: -9999px;
  left: -9999px;
}

tr { border: 1px solid #ccc; }

td { 
  /* Behave  like a "row" */
  border: none;
  border-bottom: 1px solid #eee; 
  position: relative;
  padding-left: 50%; 
}

td:before { 
  /* Now like a table header */
  position: absolute;
  /* Top/left values mimic padding */
  top: 6px;
  left: 6px;
  width: 45%; 
  padding-right: 10px; 
  white-space: nowrap;
  /* Label the data */
  content: attr(data-column);

  color: #000;
  font-weight: bold;
}

}
.parent-div {
display: flex;
margin-left: 22.5%;
margin-top: 50px;
}
.search-tab{
padding-left: 47.4%;
}
.option-tab>select {
border: 0px solid;
border-left: 1px solid rgb(85, 83, 83);
height: 25px;
}
.search-tab>input {
border: 0px solid;
border-left: 1px solid rgb(85, 83, 83);
border-right: 1px solid rgb(85, 83, 83);
height: 25px;
}
.dropbtn {
  border-left: 1px solid #000;
  color: rgb(0, 0, 0);
  background: transparent;
  padding: 5px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 84px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 3px 5px;
  font-size: 14px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: transparent}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  border-left: 1px solid #000;
}