* {
  font-family: 'Asul';
}
table { 
  width: 750px; 
  border-collapse: collapse; 
  margin:20px auto;
}

/* Zebra striping */
tr:nth-of-type(odd) { 
background: transparent; 
}

th { 
background: #47ccde; 
color: white;
}

td, th { 
padding: 10px; 
border: 1px solid #ccc; 
text-align: left; 
font-size: 14px;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/

.parent-div {
  display: flex;
  margin-left: 22.5%;
  margin-top: 50px;
}
.search-tab{
  padding-left: 49.7%;
}
.option-tab>select {
border: 0px solid;
border-left: 1px solid rgb(85, 83, 83);
height: 25px;
}
.search-tab>input {
border: 0px solid;
border-left: 1px solid rgb(85, 83, 83);
border-right: 1px solid rgb(85, 83, 83);
height: 25px;
}
.dropbtn {
  border-left: 1px solid #000;
  color: rgb(0, 0, 0);
  background: transparent;
  padding: 5px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 84px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 3px 5px;
  font-size: 14px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: transparent}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  border-left: 1px solid #000;
}
.pagination {
  display: none;
  margin-left: 60.7%;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  margin: 0px 4px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #3498db;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
i.fa.fa-angle-double-down {
  margin: 0px 0px 0px 10px;
}
.paging-nav {
  padding-left: 62%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.paging-nav a {
  margin: auto 1px;
  text-decoration: none;
  display: inline-block;
  padding: 7px 12px;
  background: #408fe8;
  color: white;
  border-radius: 3px;
}

.paging-nav .selected-page {
  background: #187ed5;
  font-weight: bold;
}

.paging-nav,
#employee_table_medium {
  /* width: 400px; */
  margin: 0 auto;
  font-family: Arial, sans-serif;
}
@media screen and (max-width: 768px) {
	/*Navigation CSS*/
	table {
		display: block;
		width: initial;
		overflow-x: auto;
    margin: 20px 20px;
    border: 1px solid #ccc;
	}
  .search-tab{
    padding-left: 33.7%;
    padding-right: 2px;
  }
  .pagination a {
    float: left;
    padding: 4px 11px;
    margin: 0px 4px;
    text-decoration: none;
  }
  .pagination {
    display: none;
    margin-left: 0%;
  }
  .paging-nav {
    padding-left: 46%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .paging-nav a {
    margin: auto 1px;
    text-decoration: none;
    display: inline-block;
    padding: 4px 10px;
    background: #408fe8;
    color: white;
    border-radius: 3px;
  }
  .parent-div {
    display: flex;
    margin-left: 6.5%;
    margin-top: 50px;
  }
  
}

